@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/* Global Classes */
button, button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* Variables */
/* Typography Classes */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

font-size-14 {
  font-size: 14px;
}

font-size-16 {
  font-size: 16px;
}

font-size-20 {
  font-size: 20px;
}

/* Color Template */
.color-primary {
  color: #3c81a8;
}

.color-primary-bg {
  background: #3c81a8;
}

.color-second {
  color: #2d4e53;
}

.color-second-bg {
  background: #2d4e53;
}

.color-yellow {
  color: #5e4824;
}

.color-yellow-bg {
  background: #5e4824;
}

/* Top Sale Template */
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}

#top-sale .owl-carousel .item .product img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#top-sale .owl-carousel .item .product img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}

#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #2d4e53;
  padding: 0 2rem;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -2.1rem;
}

#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -2.2rem;
}

/*   Special Price Section Template */
.grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1.5rem;
}

/*  Coming Soon Section / Owl Carousel */
#coming-soon .owl-carousel .item .product a {
  overflow: hidden;
}

#coming-soon .owl-carousel .item .product img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

#coming-soon .owl-carousel .item .product img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#coming-soon .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}

#coming-soon .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

#coming-soon .owl-carousel .owl-nav button.owl-prev span,
#coming-soon .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #2d4e53;
  padding: 0 2rem;
}

#coming-soon .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -2.1rem;
}

#coming-soon .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

#coming-soon .owl-carousel .owl-nav button.owl-next span {
  margin-right: -2.2rem;
}
/*# sourceMappingURL=main.css.map */